[2016-01-11 16:38] bertung commented on #413
Great, thanks for the quick response. Let me clear one thing though, if HttpURLConnection requires websockify, so does URLConnection. Right?

Sent from my iPhone

[2016-01-11 16:41] jvilk commented on #413
No. `URLConnection` is an abstract class. You can have a `URLConnection` implementation that writes to / reads from a file on the file system (e.g. `JarURLConnection`).

[2016-01-11 16:51] bertung commented on #413
Oopps, it is abstract indeed. thanks for the heads up.

Sent from my iPhone

[2016-01-11 17:05] jvilk commented on #413
Marking as closed. Feel free to reopen if you have additional questions!

[2016-01-11 17:05] #413 closed

[2016-01-11 17:09] jvilk commented on #412
This sort of thing happens frequently; I've backpedaled on this unit test a number of times.

Does using the first polyfill of `Math.sinh` here work, which makes two `Math.exp`calls?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/sinh

If not, then we can look into relaxing this unit test, or modifying it to only look at a certain number of sig figs.

Thanks

[2016-01-12 07:27] owaishanif786 commented on #412
I have tried both polyfils and they both have same issue. so what should we do ?

[2016-01-12 12:05] bertung opened #414 "[Question] Running more than one application"
If we have more than one application in /App1, /App2, /App3....../Appn. Is it possible to set a common javaHomePath for all? I see that the javaHomePath is read from this mounted point?

 mfs.mount('/sys', new BrowserFS.FileSystem.XmlHttpRequest('browser/listings.json', ''));

This means java home path is different on all applications. If we run a second application, it will receive all java stand

[2016-01-12 12:07] bertung commented on #414
Some thing like this with a absolute path?

mfs.mount('/java', new BrowserFS.FileSystem.XmlHttpRequest('/javahome/listings.json', ''));

[2016-01-13 05:20] jvilk commented on #414
When you construct a JVM instance, you explicitly tell DoppoJVM where Doppio's home is, which is separate from the classpath you give it. The application class files can be anywhere in the filesystem; you just have to make sure they are on the classpath you give DoppioJVM.

It's the same as the JVM you run natively when you run `java` on the command line.

Does that help? I'm a bit confused about

[2016-01-13 05:31] bertung commented on #414
To be clear, for example, will String.class be cached to the browser, and will that cached String.class be available to all applications running from separate absolute paths?

[2016-01-13 05:50] owaishanif786 commented on #412
when i tried taylor method its working in browser for maximum value and passing tests. but at end test are not going to finish. console looks like that it is freezed
public static 'sinh(D)D'(thread: JVMThread, d_val: number): number {
              var returning = d_val,
              xToN = d_val,
              factorial = 1,
              index = 1,
              nextTerm = 1;
              whil

[2016-01-14 05:58] jvilk commented on #412
Yeah, definitely don't do anything crazy. Let me look into it to see if I can restrict Java to printing only a specific number of sigfigs.

[2016-01-14 06:04] owaishanif786 commented on #412
Thanks :)
Actually these two sig figs tests are problem for
sinh, tanh, expm1, log1p
because there polyfill uses Math.exp which eventualy results to 1 ...

[2016-01-14 06:41] jvilk commented on #412
@owaishanif786 I looked into it. You should just add checks in your look to `continue` when the value is `Double.MAX_EXPONENT` or `Double.MIN_EXPONENT`. It looks like those are causing your issues, which makes sense given the use of `Math.exp` in the polyfill. :)

Also, you should implement a polyfill for `Math.sinh` in `src/util.ts`, just after `Math.imul`. Then, define the native using `Math.sin

[2016-01-14 06:51] #410 closed

[2016-01-14 06:51] jvilk commented on #410
Turns out: No, it's not needed.

[2016-01-14 07:03] jvilk commented on #414
Assuming you're using the `master` version of DoppioJVM, which has a JAR-based Java Class Library:

`String.class` is a file stored within `rt.jar`. If you're using the `XmlHttpRequest` file system for Doppio's home, BrowserFS will cache `rt.jar` in-memory until the page reloads. Thus, subsequent JVM invocations will not re-download `rt.jar`.

In this setup, the browser should also cache `rt.jar`,

[2016-01-14 07:09] jvilk opened #416 "TravisCI Cache Broken?"
It looks like TravisCI isn't properly caching the JDK anymore. It seems to re-download each time the unit tests run.

It seems there's always something broken with Travis! *shakes fist*

[2016-01-14 07:11] jvilk commented on #399
This is deferred right now due to my current schedule. I still don't want to release until I have a good day to generate some basic docs.

[2016-01-14 07:37] jvilk commented on #371
You could define a helper function that does this, e.g.:

[code]

Right now, my code explicitly uses type annotations to determine which form to use. Some require an `IJVMConstructor`, but many simply need to access static fields.

[2016-01-14 08:35] bertung commented on #414
Yes, thank you very much. I am almost done with our doppioJVM support. I will start running applications built for our distributed operating system probably next week. I would have more questions in the process.

[2016-01-14 17:47] jvilk commented on #414
Great! I'll close this out as answered.

[2016-01-14 17:47] #414 closed

[2016-01-14 18:00] jvilk commented on #412
Your code is merged, so this is all set. Thanks for your contribution!

[2016-01-14 18:00] #412 closed

[2016-01-16 18:23] jvilk commented on #403
Closing for now. It's not thoroughly tested yet, but the infrastructure is there!

[2016-01-16 18:23] #403 closed

[2016-01-18 06:23] hrj commented on #410
Turns out: it is needed during installation of JDK :)

`console/download_jdk.ts` requires it.

So you probably will have to revert https://github.com/plasma-umass/doppio/commit/e76ac1fe033e1d43ef69062b16873ad0aa2ad0b1

[2016-01-21 04:46] CoderRooftrellen commented on #258
@jvilk

I am trying to run a Java program using some classes in java.net package ( mainly class java.net.URL and java.net.URLClassLoader ) in doppiojvm, i got some error.

[code]

I guess it's related to this issue, and if i should do something when doppio init.

[2016-01-21 18:42] jimfb opened #418 "Natively Implement URLConnection"
I'm not sure if this is a good idea or a terrible idea, but here it goes...

Many java applications use `URL.openConnection()` to create a [URLConnection](https://docs.oracle.com/javase/7/docs/api/java/net/URLConnection.html) which is then used to request data (ala ajax).  In many cases, this could "just work" (backed by an XHR request), and would be very intuitive.  Some edge cases (like setting

[2016-01-21 18:43] jimfb commented on #258
@CoderRooftrellen Just created a related issue: https://github.com/plasma-umass/doppio/issues/258

[2016-01-21 23:58] jimfb opened #419 "Force Synchronous Execution"
Some operations need to be synchronous (for instance, an event handler needs to be synchronous in order to decide if the event bubbling should be canceled).

For such operations where synchronous behavior is absolutely essential, is it possible to add a mode whereby the scheduler will not yield control of the main thread back to the JSVM until the operation is complete?

cc @jvilk

[2016-01-22 12:17] bertung opened #420 "[Request] Open a Gitter board for discussions?"
Is it possible to open a Gitter chat board for doppioJVM? so that we can ask question there instead of polluting the issues table.

[2016-01-22 12:35] bertung opened #421 "Errors on build"
I made a clean git, and "grunt release" gives the following errors.

/Users/bora/Development/DoppioJVM/doppio/console/doppioh.ts(23,27): error TS2307: Cannot find module '../includes/JVMTypes'.
/Users/bora/Development/DoppioJVM/doppio/console/doppioh.ts(24,26): error TS2307: Cannot find module '../vendor/java_home/jdk.json'.
/Users/bora/Development/DoppioJVM/doppio/console/doppioh.ts(650,45): erro

[2016-01-22 17:12] jvilk commented on #420
Done:

https://gitter.im/plasma-umass/doppio

[2016-01-22 17:12] #420 closed

[2016-01-22 21:19] kennycoc commented on #421
I'm getting the same error. check_jdk keeps failing

[2016-01-22 23:37] kennycoc commented on #421
yeah, me too. I've tried checking out previous commits, but I still get the same error. It must be something unique to our build environments. @bertung, are you using Windows 10?

[2016-01-23 00:08] jvilk commented on #421
On my way home to look at this. I need to re add doppios dependence on rimraf. That is most likely the culprit.

[2016-01-23 00:27] kennycoc commented on #421
Adding rimraf as a dependency fixed it the initial problem, but now I'm getting an error after
"Running
"javac:default" (javac) task"

[log.txt](https://github.com/plasma-umass/doppio/files/101624/log.txt)

[2016-01-23 00:37] jvilk commented on #418
I think it would be a great idea to have a `DoppioURLConnection` class, but I don't have the time to implement one.

I'd accept a PR for one, but it'd need to be accompanied by unit tests that use `HttpURLConnection` on the native JVM and `DoppioURLConnection` in Doppio.

[2016-01-23 00:44] jvilk commented on #419
This would not be possible in the general case. It's not feasible to know if the JVM will need to yield. We yield to load in classes, to reset the stack depth, and to keep DoppioJVM responsive. You'd need to work around this restriction somehow.

[2016-01-23 00:44] #419 closed

[2016-01-23 00:47] jvilk commented on #419
Some solutions, which aren't ideal but possible:

* You could stop bubbling every time, and re-apply the event if bubbling was desired.
* You could manually bubble the event up the DOM.

I'm not actually sure how to best expose the browser callback paradigm to the JVM, since you can't easily register a JVM function as a callback.

[2016-01-23 00:47] kennycoc commented on #421
Also, I have to run "tsc" before "npm install" is this expected? Should we update the documentation?

[2016-01-23 00:56] jvilk commented on #421
You shouldn't have to do that, @kennycoc. `npm install` should "just work" out of the box.

[code]

I committed the `rimraf` change, btw.

[2016-01-23 00:57] jvilk commented on #258
I haven't tested the `net` code in awhile, so it could be broken. I'll take a look once I fix the build issues.

[2016-01-23 01:02] jvilk commented on #421
@kennycoc the issue is your Java installation's default character encoding. We expect UTF-8. I'm going to push a change soon to force UTF-8 during compilation and during runtime with a flag to `java` and `javac`.

[2016-01-23 01:03] jvilk commented on #421
@kennycoc let me know if that fixes your issue. Also, if a clean clone+build still fails, I'd like to know about it. :)

[2016-01-23 01:04] kennycoc commented on #421
Okay! One second

[2016-01-23 01:17] kennycoc commented on #421
Yeah, I'm still getting the same errors :(

...
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "dist" not found. Use --force to continue.

Aborted due to warnings.
C:\Users\kenne\upwork\doppio\prepublish.js:13
    throw new Error("Program exited with code " + code);
    ^
...

[2016-01-23 01:22] kennycoc commented on #421
If I run tsc, and then npm install, I get all the way past downloading the new JDK, but then it still crashes at "running javac:default (javac) task"

[2016-01-23 01:24] jvilk commented on #421
@kennycoc I just pushed a change that should fix the `tsc` issue in Windows (I forgot to include code that looked for `node_modules/.bin/tsc.cmd` instead of `node_modules/.bin/tsc` on Windows).

What's the current `javac` error? Is it the same after the last push I did?

[2016-01-23 01:26] kennycoc commented on #421
I get
[code]

I'll pull the changes and try again

[2016-01-23 01:31] kennycoc commented on #421
Alright, that fixed most of it! Now I get
[code]

[2016-01-23 01:33] jvilk commented on #421
I'm booting up a Windows VM to see if I can reproduce this.

[2016-01-23 01:37] jvilk commented on #421
Reproduced! Working on it now.

[2016-01-23 01:40] kennycoc commented on #421
But sometimes it also crashes on the other one. It's always either at javac, or includes.

[2016-01-23 01:54] jvilk commented on #421
I just fixed the Java and Javac tasks. Includes is still broken. Looking into it...

[2016-01-23 02:37] jvilk commented on #421
Includes is fixed. DoppioJVM now *builds* on Windows, but it does not *run*. Looks like classloading is broken in Windows due to the different path separators (`\` instead of `/`). Ugh.

I'll open a task for fixing DoppioJVM on Windows to look at tomorrow.

[2016-01-23 02:37] #421 closed

[2016-01-23 02:38] jvilk opened #423 "DoppioJVM Broken on Windows"
I believe I broke DoppioJVM on Windows when I refactored for JAR files. It breaks due to the different path separators.

*sigh*

[2016-01-23 02:45] kennycoc commented on #421
Which files are relevant to this? I can work on it if it would be helpful
On Jan 22, 2016 8:37 PM, "John Vilk" <notifications@github.com> wrote:

[2016-01-23 02:49] jvilk commented on #421
@kennycoc `src/classpath.ts` is likely relevant. After building DoppioJVM, you can see that it fails to run anything you pass to it, e.g.:

[code]

...will fail with a class not found error.

[2016-01-23 03:30] CoderRooftrellen commented on #258
@jvilk
Thanks.

[2016-01-23 04:18] jvilk commented on #258
I ran out of time today since the build issues took awhile. It's on my todo list for tomorrow.

[2016-01-23 08:12] bertung commented on #421
It works fine on MacOS now. Thank you.

[2016-01-23 21:16] kennycoc commented on #423
Out of the four times I've tried to build doppio since the last update, once it built correctly, twice it failed on the includes task, and once it got stuck on run_java.
[code]
is all it's displayed for the past hour (I got lunch and left it running)

[2016-01-29 06:48] jimfb opened #426 "Doppio fails to start on Safari"
On Safari, I get a stack trace that looks like this:

[code]

cc @jvilk @hrj

[2016-01-29 17:55] jvilk commented on #426
That's odd. Looks like it doesn't like something we're producing during eval.

Will take a look when I have time, hopefully this weekend. Others can feel free to beat me to the punch.

[2016-02-03 05:16] jvilk commented on #426
I'm not getting that when I run the unit tester with `test-browser`, but test 15 seems to hang for no explicable reason.

[2016-02-03 05:38] jimfb opened #427 "Reflection API not working for primitive integer"
Invoking the constructor with the integer 42 should result in it printing 42, but actually prints -0.

[code]

[2016-02-03 20:59] jvilk commented on #427
Good catch. Looks like an unboxing bug.

[2016-02-03 21:43] #427 closed

[2016-02-03 22:01] jvilk commented on #426
I cannot reproduce this, Jim. I just ran all of the Safari unit tests w/o a WebWorker and it worked fine. Do you have custom native methods? Maybe you have a bug in them?

[2016-02-03 22:04] jimfb commented on #426
I dug a little deeper on this one and discovered the root cause.  I was wrong to blame doppio, sorry, closing.

Details: We were using ES6 in our native method implementation.  Firefox and chrome support ES6 natively, so it "just worked" and so we failed to realize that we weren't transforming our code before deploying.  The ES6 code failed to run in Safari, but the error pointed straight at doppi

[2016-02-03 22:04] #426 closed

[2016-02-03 22:05] jvilk opened #428 "Unit tests fail in WebWorker in Safari"
There's no exception. They just... stop progressing.

Debugging this is difficult, since Safari has *no way to debug webworkers*.

[2016-02-03 22:12] jvilk commented on #426
It's cool. Since we `eval` code, the stack traces often get destroyed, although I believe other browsers typically have more comprehensible stack traces!

[2016-02-03 22:34] jvilk commented on #428
It's only two tests. It has to be a threading bug -- potentially a deadlock?

[2016-02-25 05:51] hrj commented on #389
Now that XHRFS allows listings to be specified in the constructor, the user can create `listings` at run-time, cache in IndexedDB, etc. Just saying, so that this issue can probably be closed now.

[2016-02-25 06:02] jvilk commented on #389
Well, we could still make the listings smaller with a more compact representation. This issue is primarily concerned with the size of the listings.

[2016-02-25 06:23] hrj commented on #389
Well, here's how I see it:

There are two concerns: `listings.json` as a file served over the network, and `listings` -- the in-memory representation of it.

For the in-memory representation, I don't think a significantly more compact form that is also quick to access is possible. The bulk of it is made of strings representing the directory and file names. One could try to de-dup the sub-strings,

[2016-03-06 07:09] hrj commented on #418
Do I correctly understand this:
The JVM application can register a `URLStreamHandlerFactory` that allows a custom stream handler to be created. The stream handler is the one responsible for creating instances of `HttpURLConnection`.

Now, although it might be convenient to have an implementation of `HttpURLConnection` based on XHR in doppio, it is not *required* to be part of doppio's standard lib

[2016-03-06 22:58] jvilk commented on #418
Everything you've said is accurate from what I understand.

It would be really nice to have the XHR-based stream-handler-factory as a part of DoppioJVM itself. I feel like most users would want that by default. Perhaps we could introduce a system property that toggled its automatic registration on or off -- which would prevent people from needing to recompile their existing code to run in DoppioJV

[2016-04-12 05:29] hrj opened #438 "Question: why a difference between invokestatic_fast and invokevirtual_fast when computing paramWordSize?"
While looking through the code I noticed a difference between two opcode implementations:

`invokestatic_fast` uses `methodReference.paramWordSize` directly, while `invokevirtual_fast` uses `methodReference.getParamWordSize()`

Is it a deliberate choice or an oversight?

[2016-04-12 17:00] jvilk commented on #438
Hmm... this may be an oversight.

I definitely know there is at least one case where `getParamWordSize` is needed and is called when the `methodReference` is not resolved, but that may be in a reflection method.

You could do a test and see if `paramWordSize` is ever `-1` during an `invokevirtual_fast`.

[2016-04-19 15:51] #438 closed

[2016-04-22 18:04] hrj commented on #258
@CoderRooftrellen For the specific issue you mention "Websock is not defined", the solution I think is to include the script from `doppio/vendor/websockify/websock.js` on the page, before starting the doppio-jvm.

@jvilk However, after doing that, I see another error:
[code]

[2016-04-22 23:51] jimfb commented on #258
@hrj `flatThrwoableToJs` is spelled wrong, did you mean `flatThrowableToJs`.  Also, That's not doppio code :P.

[2016-04-23 04:06] hrj commented on #258
@jimfb Hawkeye! Yeah, the second error was not relevant to doppio. I have edited it out.

[2016-04-23 08:59] hrj opened #441 "Invalid integers used in networking code"
While trying to use the websocket code as per #258, I encountered this assertion failure:

[code]

Tracing this backwards, the number comes from `src/natives/java_net.ts` -> `java_net_Inet4AddressImpl:lookupAllHostAddr` -> `host_allocate_address` -> `next_address`. According to the comment at the beginning of the file:

These addresses as unsigned integers begin from `0xF0000000`. However, Java ha

[2016-04-25 02:37] hrj opened #442 "Question: How to setup networking with doppio in browser?"
I have read through this [wiki page](https://github.com/plasma-umass/doppio/wiki/Networking-with-Doppio) and through `src/natives/java_net.ts`, but I am not fully certain how this works.

The image on the wiki page is not loading, which may have held some clues.

If I understand right, whenever a socket connection to `host:port` is requested from Java land, that gets converted to a `ws://host:port

[2016-05-08 21:02] jvilk commented on #418
@jimfb are you behind [JavaPoly.js](https://www.javapoly.com/)? I see a Jim is involved, but I dunno if it is you. Looks like they created [what you proposed](http://git.javadeploy.net/jimsproch/JavaPoly/blob/master/src/classes/com/javapoly/XHRHttpURLConnection.java).

[2016-05-08 21:22] jimfb commented on #418
@jvilk Yep, that's me.  We'd be happy to contribute any of this stuff upstream if you'd like it.  I had originally thought this would require hacking/overriding system classes (which is why I created this issue), but it turned out to be possible to implement this completely in user land, so that's what we did.  However, if you'd like this (or any other feature) to be merged upstream, just let us k

[2016-05-08 21:24] jvilk commented on #418
Aha! So now things start to make sense. :)

Yes, I would really like this to be merged upstream. I lack the time to take any initiative on this until later in the week, though.

[2016-05-09 10:17] hrj commented on #418
I could contribute the code now. However, it would be nice to have some clarity on #441 and #442 just to avoid breakage in case I haven't understood something correctly.

[2016-05-09 15:38] jvilk opened #444 "Investigate Using Scala.js's Long Implementation"
[Link to Scala source](https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/runtime/RuntimeLong.scala)

[One of the Scala.js folks mentioned that switching to Scala.js's Long implementation may yield a noticeable speedup](https://news.ycombinator.com/item?id=11658209) on most common Long operations. This is worth experimenting with.

[2016-05-09 21:02] karussell opened #445 "Will Java 7 or 8 be supported in the future?"
Are they any plans for more recent Java versions?

[2016-05-09 21:14] jvilk commented on #445
Doppio supports Java 7 and 8, but our demo is unfortunately quite outdated, and I have not had time to put a new one together.

Do we have outdated documentation somewhere?

[2016-05-09 21:15] karussell commented on #445
On the demo page it says: 'Please note that DoppioJVM is Java 6 compatible; Java 7 programs will not function on DoppioJVM.'

http://plasma-umass.github.io/doppio-demo/

[2016-05-12 23:25] ianopolous commented on #445
+1 to updating the demo. I'd love to try JPC in it!

[2016-05-15 20:47] ianopolous opened #446 "Update getting started guide"
I thoroughly enjoyed reading your paper. there are some very cool ideas in Doppio!

I've been following along the instructions at:

https://github.com/plasma-umass/doppio/wiki/Doppio-Developer-Guide#plugging-doppiojvm-into-a-frontend

And it seems the doppio variable is not initialized in the browser, so neither the js or the cli calls work.

I've tried comparing to the demo page, but that is too

[2016-05-15 20:51] jimfb commented on #446
@ianopolous Depending on what you're trying to do, you might find https://www.javapoly.com/ to be a convenient API for invoking Java in the browser/frontend.  If nothing else, you can look at the javapoly source code for an up-to-date example of starting up a doppio instance in the browser.

[2016-05-15 21:13] jvilk commented on #446
Hmm, that's odd. The `doppio.js` file should expose a `doppio` global.

I will see about updating the documentation tomorrow and get back to you.

[2016-05-15 21:24] ianopolous commented on #446
I've put up the webroot of my attempt here:
https://github.com/ianopolous/DoppioDemo

Apologies if I've done something stupid.

[2016-05-15 21:47] jvilk commented on #446
You can see the source code and build instructions for an updated demo [here](https://github.com/jvilk/doppio-demo/tree/new-objects). The demo is not live yet because I am having issues with terminal emulation, and may need to switch to using a different library, but its DoppioJVM integration works. The magic happens [in this file](https://github.com/jvilk/doppio-demo/blob/new-objects/src/js/comma

[2016-05-15 22:24] ianopolous commented on #446
The new variable names fixed it. Thank you! Can't wait to get it all working!

[2016-05-15 22:32] jvilk commented on #446
Awesome! Let me know if you have any questions. I'm reopening this so I remember to update the docs.

[2016-05-16 19:14] ianopolous opened #447 "Can't load java.lang.Thread"
I'm trying to get doppio working in a browser. At the moment it throws an exception trying to load the java.lang.Thread class

Cannot read property 'throwNewException' of null    -   on line 340 of ClassLoader.ts

The webroot I'm using is at https://github.com/ianopolous/DoppioDemo

[2016-05-16 19:36] jvilk commented on #447
This is a reminder to me to have better error messages during JVM bootup...

The JVM loads the thread class first to mock a `Thread` object to bootstrap the JVM. It is failing to load the file, which means it cannot find `java.lang.Thread` on the classpath.

And it cannot find `java.lang.Thread` because the filesystem has an issue; `/sys/vendor/java_home/lib/rt.jar` exists in the index, but the fi

[2016-05-16 20:20] ianopolous commented on #447
If I run the XHRIndexer in the doppio directory it outputs something with all values null. e.g. {"browserfs.min.js":null,"browserfs.min.js.map":null...

[2016-05-16 20:24] jvilk commented on #447
While weird, that's actually intentional. The `XHRFS` uses the JSON object directly as its index, with stats stored in each property, so storing it this way on disk prevents `XHRFS` from having to transform it at runtime. This was a huge performance gain when DoppioJVM did not support JAR files, and had an index with every individual `class` file in the Java Class Library!

[2016-05-16 20:30] ianopolous commented on #447
Ah, I see. It is still failing to load Thread though with both those changes. The latest is at:
https://github.com/ianopolous/DoppioDemo

Have I missed something else?

[2016-05-16 20:41] jvilk commented on #447
Yes; it looks like the default options expect `java_home` to be in a `vendor` directory. Move `java_home` into `vendor`, regenerate `listings`, and it should work.

[2016-05-16 21:06] ianopolous commented on #447
That fixed it! Thank you!

[2016-05-16 22:53] ianopolous opened #448 "Can't load custom class"
Sorry for the barrage of questions. I really appreciate all your help!

I'm trying now to load one of our classes, but doppio can't find the class.
https://github.com/ianopolous/DoppioDemo

I've loaded the class files into the BrowserFS from the /classes directory. Then tried to add /classes to the classpath of the JVM. However it still throws loading peergos.user.UserContext class.

[2016-05-17 01:40] jvilk commented on #448
You should treat DoppioJVM like a regular JVM. Make a class with a `public static void main` method, and then just call `jvm.runClass(/* Class name */ 'foo.bar.Baz', /* Arguments */ [], function(exitCode) {
  /* Called when execution terminates. */
})`.

As a side note, when execution terminates, you need to create a fresh DoppioJVM. You cannot re-use it.

If I was better at API design, I would ha

[2016-05-17 01:48] ianopolous commented on #448
I'm trying to call a static method that returns something, not a main method. Basically I want to keep the returned object around in javascript and call various methods on it. Is that possible? I'm fine with those methods being wrapped in a promise if need be. I've been following https://github.com/plasma-umass/doppio/wiki/Running-Java-methods-from-JavaScript

[2016-05-17 02:24] jvilk commented on #448
No, that breaks a number of internal assumptions. Like a regular JVM, DoppioJVM expects to run a main method. When that method completes, the JVM shuts down. Doing anything else is weird and unexpected, and may break in unknown ways.

What you should probably do is something like this, where you bootstrap DoppioJVM with a simple main method, and then call into a native method that simply never ret

[2016-05-17 23:00] jimfb opened #449 "SHA-256 MessageDigest not available"
[code]

Throws "SHA-256 MessageDigest not available".  Should be a relatively easy fix if someone wants to grab this one.

[2016-05-18 01:41] jvilk opened #450 "Use Array/Uint8Array for `code` instead of `Buffer`"
BrowserFS's `Buffer` imposes expensive abstraction overhead. I initially used it because older versions of IE did not support TypedArrays, but those versions are not commonly used anymore.

We should switch to using `Uint8Array` (and an `Array` of numbers in non-typed-array browsers) to make the interpreter faster. The method can also contain a `DataView` view of the buffer for the rare opcodes th

[2016-05-18 08:27] ianopolous opened #451 "TypeError: Cannot read property 'toString' of null in JVM internals"
Trying to use the webroot at:
https://github.com/ianopolous/DoppioDemo

A type error is thrown in the message element of:
[code]

[2016-05-18 11:09] hrj commented on #451
@ianopolous That was a bug in Javapoly. I have pushed a fix just now. Please let us know [here](http://git.javadeploy.net/jimsproch/JavaPoly) if it doesn't work.

[2016-05-18 15:52] jvilk commented on #451
Closing because this is not DoppioJVM code.

[2016-05-18 15:52] #451 closed

[2016-05-18 19:19] ianopolous opened #452 "Missing class from Java core library"
I'm working from doppio.html at: https://github.com/ianopolous/Peergos/tree/doppio/ui

But it fails to load the javax.crypto.Mac class. However, this class is in the doppio/vendor/java_home/lib/jce.jar

[2016-05-19 04:08] jvilk commented on #446
The Getting Started Guide [is updated, and is now in Git](https://github.com/plasma-umass/doppio/tree/master/docs).

[2016-05-19 04:08] #446 closed

[2016-05-19 04:09] jvilk commented on #447
I've updated the getting started guide, and added an [example application](https://github.com/plasma-umass/doppio/tree/master/docs/examples) that can be built in a single command.

[2016-05-19 04:09] #447 closed

[2016-05-19 04:09] jvilk commented on #448
I documented this particular assumption, which is standard for all JVMs, in the updated Getting Started Guide.

[2016-05-19 04:09] #448 closed

[2016-05-19 07:41] hrj commented on #452
The problem was with how we were defining the JVM options in Javapoly.

We were overriding the `bootstrapClasspath`, while specifying the `doppioHomePath` incorrectly. I have now fixed this in Javapoly and `javax.crypto.*` classes are being found correctly.

However, some javapoly classes are not being found by doppio. I suspect it has to do with some native code in javapoly.

Anyway, this issue c

[2016-05-19 08:24] #452 closed

[2016-05-19 08:54] hrj commented on #449
@jvilk It's working in doppio command line as well as through Javapoly after the fix for #452. The underlying issue might be the same; missing JCL libraries from the bootstrap classpath. You could probably close this issue now.

[2016-05-19 10:41] #449 closed

[2016-05-19 19:35] ianopolous opened #454 "No strong SecureRandom implementation present"
Running code that calls java.security.SecureRandom.getInstanceStrong() throws "No strong SecureRandom impls available: NativePRNGBlocking:SUN"

[2016-05-19 19:45] jvilk commented on #454
I'm guessing there's either a native method we are missing for SecureRNG, or we need to set a magic system property pointing to a class that implements secure RNG.

[2016-05-19 19:46] jvilk commented on #454
@ianopolous Can you submit a minimal Java class with a `public static void main` that exhibits this issue?

[2016-05-19 20:06] ianopolous commented on #454
The system property is "securerandom.strongAlgorithms" It's of the following format:
/*
         * Entries are alg:prov separated by ,
         * Allow for prepended/appended whitespace between entries.
         *
         * Capture groups:
         *     1 - alg
         *     2 - :prov (optional)
         *     3 - prov (optional)
         *     4 - ,nextEntry (optional)
         *     5 - nextE

[2016-05-19 20:26] ianopolous commented on #454
This should be sufficient. My code calls it deep in Peergos, but this is equivalent:
[code]

[2016-05-19 23:10] jvilk commented on #32
With #443 merged, we now have a basic JIT!

[2016-05-19 23:10] #32 closed

[2016-05-20 01:24] perimosocordiae commented on #32
:tada:

[2016-05-20 07:25] hrj opened #455 "JIT ideas"
* removing needless PC increments from the JIT (PC gets restored to a constant on jump, on error, or on end of block/trace)
* removing empty `else` clauses in JIT emitted code.
* Detecting "simple" Java functions, that is, functions that don't have branches, don't throw exceptions,  don't call other functions, etc. These simple functions can be JIT optimising immediately after first run. Simple fu

[2016-05-20 07:31] hrj commented on #455
Some more ideas:

* Shorten the names of some APIs used in emitted JIT functions. Eg: `fieldOwnerConstructor`
* Add API for registering method overrides. Follow up from #435. This is not exactly related a JIT TODO. I was just waiting for JIT to land and mature, so that I can hand-tune methods selectively.
* Support for wide instructions. Though I haven't encountered the WIDE opcode prefix in any o

[2016-05-20 16:27] jvilk commented on #455
The JIT should eventually change to perform a pre-JIT pass to determine basic blocks and construct a control flow graph. As it currently stands, the JIT may inline a basic block into multiple blocks due to the way it handles branches. The CFG will let us figure out when a block is jumped to once, letting us inline branches (including `if`/`else` branches), among other improvements.

Yes; we should

[2016-05-20 16:28] jvilk commented on #455
I don't view this as a useful optimization? Unless you mean to optimize for some of Chrome's inlining heuristics (e.g. source code size).

[2016-05-20 17:07] hrj commented on #455
Reducing the source code size to reduce parsing time, and also to a certain extent -- memory consumption. But the latter is not specific to JIT; the parsing time is.

[2016-05-20 18:47] ianopolous opened #457 "Uint8Array not converted to byte[]"
I'm returning what I believe is a Uint8Array from a "native" JS method, but it is throwing this exception in AsyncReturn().

assert.ts:8 Uncaught Error: Assertion failed: Invalid array object: 216,129,120,126,226,157,61,141,153,225,159,227,200,40,203,202,249,120,249,143,248,65,209,240,79,45,29,238,15,59,146,112,194,49,135,45,14,166,46,84,12,195,4,170,223,204,115,60,246,226,50,36,148,28,15,128,141,

[2016-05-20 18:55] jvilk commented on #457
There are two issues with what you are trying to do.

First: DoppioJVM does not directly map JVM arrays to JS arrays, since JVM arrays are also JVM objects -- so they have a class, methods, etc. DoppioJVM wraps JS arrays and typed arrays in a JVM object with an `array` property, which you need to construct like other JVM objects.

Second: a `byte[]` array is an `Int8Array` -- they are signed integ

[2016-05-20 18:56] jvilk commented on #457
Also, if you have assertion checking enabled, you are using a development build of DoppioJVM (which is super useful for debugging). Hopefully that is intentional. :)

If it is not, you should use a much faster release build of DoppioJVM that strips assertions from the JVM once you have something shippable.

[2016-05-20 18:56] #457 closed

[2016-05-20 19:04] ianopolous commented on #457
Excellent, thank you! That fixed it. For the reference of others I had to do:
[code]

[2016-05-20 19:08] jvilk commented on #457
Note that your solution is actually *copying* the `Uint8Array`.

[From MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray#Syntax):

To do it zero-copy, you need to pass in the raw `ArrayBuffer`, `offset`, and `length`:

Example:

[code]

[2016-05-20 19:42] ianopolous commented on #457
Thanks, John. In this case it's only 96 bytes, but I'll need that later on for 5MiB arrays after erasure decoding.

[2016-05-20 20:09] jvilk commented on #454
Interesting. This code works under Node on my Mac because it simply reads `/dev/urandom`. :)

The system property contains the following data:

[code]

It looks like to do this the "proper way", we'd have to have a `DoppioSecurityProvider` that provides RNG for the browser, and register that with the browser.

I'm making a small change right now to move `doppio.jar` generation and classes from the

[2016-05-20 20:17] ianopolous commented on #454
The best cross browser (and node) code I'm aware of for finding a secure random source is from the end of:
https://github.com/dchest/tweetnacl-js/blob/master/nacl.js (public domain)

[code]

[2016-05-21 14:17] jvilk commented on #454
Committed in https://github.com/plasma-umass/doppio/commit/f23922ab733cc831943bd6b3808ab3afc0982a46, but the CI build is broken for some unknown reason (it stalls on running Java to generate unit test data).

Keeping this open until that gets cleared up...

[2016-05-22 00:54] jvilk commented on #454
Alright, my change works!

Small note: `crypto` is not available in WebWorkers in Firefox [until Firefox 48 hits](https://developer.mozilla.org/en-US/Firefox/Releases/48#Others), causing Travis-CI failures in that browser. This is outside of our control, so I am marking this as "closed".

[2016-05-22 00:54] #454 closed

[2016-05-22 01:55] jvilk commented on #416
This is no longer a problem.

[2016-05-22 01:55] #416 closed

[2016-05-23 00:02] jvilk commented on #455
@hrj I experimented with changing the JIT over to emitting a single Function, with `case` statements for each basic block. I changed your opcode size functionality to cover 100% of the opcodes, so the JIT can compile an entire method at once. (And fixed some bugs -- for example, `invokeinterface` is actually 5 bytes long because it has an empty 5th byte.)

This JIT is currently slower than yours,

[2016-05-23 06:10] hrj commented on #455
@jvilk Interesting. I just had a glance and will look deeper into it later.

It will be good to merge the bug fix and JIT restructuring into master, so that even if we are unable to optimise or enhance that branch, development on master branch can continue without merge conflicts or regressions.

[2016-05-23 07:07] hrj opened #458 ""A non running thread has an expired quantum""
When running doppio in the browser (fast-dev version), we often get this message on the console:

[code]
This assertion is in [in threadpool.ts](https://github.com/plasma-umass/doppio/blob/master/src/threadpool.ts#L118)

I am not sure what the assertion means, but surprisingly, the Java code seems to execute unaffected (except for the error in the console).

What is the assertion checking for, and

[2016-05-23 17:46] jvilk commented on #458
When you launch a Java thread (from Java and in native code), you provide it with a method to run. When that method completes, the thread automatically shuts down and exits. We emulate that process in DoppioJVM.

You are attempting to run another method on a thread that has shut down, violating a core thread invariant. This can cause bugs in programs that react to thread shutdown.

You have a few

[2016-05-23 17:50] jvilk commented on #458
Actually, I was wrong; I'm referring to a different error.

Your code is running a task on a thread that is not in the `RUNNING` state, so you are *accidentally* running multiple JVM threads concurrently. This can cause a whole host of problems, such as deadlocks in native code that expect only one thread to be running at once. Internally, Doppio threads are cooperative, so it relies on threads te

[2016-05-23 17:51] jvilk commented on #458
Are you calling `thread.run` directly? If so, [you should listen to the JSDoc for that method](https://github.com/plasma-umass/doppio/blob/master/src/threading.ts#L830)!

[2016-05-23 18:23] jimfb commented on #458
I don't think we're calling thread.run directly or anything like that.  I think this error started appearing when we configured doppio to be much more responsive (we are using https://github.com/plasma-umass/doppio/pull/407)

[2016-05-24 03:54] hrj commented on #458
Yeah, we aren't calling thread.run directly. Maybe we are triggering it indirectly, say by calling `thread.asyncReturn()` more than once from a native method? Though, wouldn't such a mistake get caught by a more direct assertion, at some point where the thread's state changes?

About responsiveness, we have set it to a value of 10ms from the default of 1000ms. So the scheduling happens about 100x

[2016-05-25 04:09] jvilk commented on #442
Yup, you got it right.

We haven't implemented it that way, but yes, this is possible.

The current networking code needs to be tested/cleaned up/updated to use the latest websockify. I admit that I have let it languish for the past couple of years, mainly because I never set up automated testing with websockify. Once we have automated tests that fail, it should not be too difficult to fix the imp

[2016-05-25 04:35] jvilk commented on #445
A new demo has emerged!

https://plasma-umass.github.io/doppio-demo/

It has all of the good stuff we've been working hard on for the past two years.

[2016-05-25 04:35] #445 closed

[2016-05-25 04:37] jvilk commented on #368
We now have a [simple example program](https://github.com/plasma-umass/doppio/blob/master/docs/examples/simple.html) in the repository that you can build in a single `grunt` command to get people started. The [doppio-demo](https://github.com/plasma-umass/doppio-demo) is a more complex application that can also be built easily.

[2016-05-25 04:37] #368 closed

[2016-05-25 04:37] jvilk commented on #279
We did it! 🎉

[2016-05-25 04:37] #279 closed

[2016-05-25 04:57] perimosocordiae commented on #279
Is it just me, or is the performance _really_ slow? Running the Fib demo takes a few seconds to print anything, each time you run it. (Chrome/Windows 10)

I know that we're no longer using the caching/JVM-reuse hacks from the bad old days, but is that expected behavior?

[2016-05-25 04:59] jvilk commented on #279
Yes. We took a performance hit after increasing compatibility and, most notably, when we stopped loading user programs in the bootstrap classloader and instead used the app classloader as-intended.

[2016-05-25 10:17] hrj commented on #442
Thanks for the detailed response, as always! :+1:

[2016-05-25 10:17] #442 closed

[2016-05-25 16:47] jvilk commented on #442
[Here are actual instructions from our 2014 demo](https://github.com/plasma-umass/doppio-demo/blob/c7f4a8a28684740b6d3036722145d249353c52a7/index.md#mess-around-with-sockets). That's how it is supposed to work.

[2016-05-25 17:14] jvilk commented on #399
Done!

[2016-05-25 17:14] #399 closed

[2016-05-25 17:15] jvilk commented on #399
Also, I'm using the `releases` tab of GitHub now.

We should be able to push out new NPM updates much more frequently.

[2016-05-30 17:36] exabrial opened #459 "Typing in a really long command causes the application to stop functioning"
Just push a repeatedly... after awhile, an error pops up the in Chrome console.

Why is this important? I'm trying to run Tomcat of course :) Which has a notoriously long command string to start.

[2016-05-30 17:39] exabrial commented on #459
[code]

[2016-05-30 17:42] jvilk commented on #459
Ah, darn; a terminal bug I missed. Acknowledged.

[2016-05-30 17:45] jvilk commented on #459
Tomcat is server software that accepts incoming connections, right? DoppioJVM can only support outgoing connections due to WebSocket restrictions. (Anything involving incoming connections would require a dedicated server proxy, or abusing WebRTC as our transport mechanism.)

[2016-05-30 18:00] exabrial commented on #459
Yah... Tomcat is the defacto java web server. I was just trying to have some fun :) Abuse WebRTC? sounds fun!

[2016-06-01 08:05] ashishtara opened #460 ""node ./prepublish.js" failure"
The npm install step for building doppio fails on my Win 7 system (log attached) in the prepublish step.

[npm-debug.log.txt](https://github.com/plasma-umass/doppio/files/292908/npm-debug.log.txt)

[2016-06-01 15:45] #460 closed

[2016-06-01 15:47] jvilk commented on #460
Thanks for the report!

[2016-06-01 18:01] ashishtara commented on #460
Thanks for the quick fix, it's working now:)

[2016-06-02 11:16] ashishtara opened #461 "Error running scala code"
I'm trying to run a jar (sworld.jar, attached) which I created from scala. I'm able to run it from java with the following command -
java -cp scala-library.jar;sworld.jar sworld.HelloWorld

But trying the same thing in Doppio gives the error "Could not find or load main class sworld.HelloWorld". The same error occurs in both the browser as well as the CLI version.

Do I need to have a different me

[2016-06-02 13:43] jvilk commented on #461
Have you tried with the `:` path separator in the classpath? Doppio emulates a Unix environment, which uses `:` instead of `;` like in Windows.

[2016-06-02 15:15] jvilk commented on #441
I'm working on a fix in this branch in my spare time: https://github.com/plasma-umass/doppio/tree/sockets_fixed

Currently held up by Websockify nastiness for browser sockets, but the sockets now work in Node.

[2016-06-02 15:21] jvilk commented on #296
This is fixed now. I verified in the current demo, and inspected the code -- we check errors all throughout `java.io`.

[2016-06-02 15:21] #296 closed

[2016-06-02 15:35] ashishtara commented on #461
I see the same error with : as well (using the CLI version with the scala jar). Incidentally, I just saw that using the CLI version the jar containing java code also gives the same error (the same jar that worked fine with the browser). So the problems in the CLI and browser versions might have different causes.

[2016-06-02 15:52] ashishtara commented on #461
A clarification regarding the above comment - by "CLI version" I mean the one using doppio.bat from the command prompt (not the one using Doppio.VM.CLI in the browser)

[2016-06-02 16:05] jvilk commented on #461
@ashishtara Ah, the Node frontend does not work in Windows because it expects a Unix environment. See https://github.com/plasma-umass/doppio/issues/423 . I'm not planning on fixing it any time soon (since DoppioJVM's main use case is the browser), so any help I can get from the community is appreciated.

I just tried your code [in the demo](http://doppiojvm.org/), and it worked:

[code]

It's like

[2016-06-03 07:40] ashishtara commented on #461
Found it - I had not regenerated listings.json after adding the new jars (sworld and scala-library) - placed in /sys. Regenerating listings.json fixes the problem. Thanks!

[2016-06-06 22:33] #461 closed

[2016-06-06 22:35] jvilk commented on #258
I'm working on this in #462.

[2016-06-06 22:35] jvilk commented on #441
#462 fixes this. Waiting on merge...

[2016-06-06 22:36] jvilk commented on #325
This is no longer an issue.

[2016-06-06 22:36] #325 closed

[2016-06-06 22:37] jvilk commented on #389
Closing this issue, as I think you're right -- it's not much of a problem anymore.

[2016-06-06 22:37] #389 closed

[2016-06-08 12:59] hrj opened #463 "Question: How to launch a new thread from native code?"
In a native function, I have a Java object and a `java.lang.reflect.Method` instance. I want to launch this method in a new JVM thread. What's the best way to do this?

In pseudo-code:
[code]

Thanks!

[2016-06-08 14:31] Dexdev08 opened #464 "Run without webserver"
Can you run doppio offline with just pure js payload? (Or locally loaded files?)

[2016-06-08 14:54] jimfb commented on #464
@Dexdev08 Yes.  Doppio does NOT require server-side support.

[2016-06-11 04:22] hrj commented on #463
Alternatively, I guess I could create a wrapper `java.lang.Thread` instance in Java code, whose `run` method invokes the `method`, pass the `java.lang.Thread` instance to native code, and then call `thread.start()` from native code.

This should avoid using non-standard APIs, but at the cost of a round-trip to Java land.

[2016-06-11 22:48] noncom opened #465 "Clojure does not work (wrong filename)"
Hi!

In the demo I tried the `clojure` command and it downloaded `clojure-1.7.0.jar` in `/home/programs`, but to actually run Clojure, it looks for `clojure1.7.0.jar` and fails to find it. I tried to `cp clojure-1.7.0.jar clojure1.7.0.jar` but got a `EPERM`. Could you please fix things for Clojure? :)

[2016-06-13 04:43] hrj commented on #463
It looks like there is no official API to launch a new thread from native code. (That makes sense in a way; probably closer to the JVM standard).

So I am instead creating a thread from JVM land in advance, and then sending a wake-up message to it from native. (We have been doing this for other scenarios too, so it's not a big deal).

[2016-06-13 04:43] #463 closed

[2016-06-20 18:28] jvilk commented on #465
Ah! You're right. You can manually run it with `java -jar /path/to/clojure.jar` to get around it for now until I update the demo.

[2016-06-20 18:30] jvilk commented on #464
Yes, this should work. The webserver only serves up files via HTTP and does nothing more. If `XMLHttpRequest` works over a `file://` URL, then the example code should just work.

[2016-06-20 18:30] #464 closed

[2016-06-20 18:31] jvilk commented on #463
Sorry for the delay; I was traveling for awhile.

You're correct; you should not launch a new thread from native code. Instead, you should spawn threads from within Java.

[2016-06-29 15:54] jvilk opened #467 "Switch to Dropbox V2 API"
We are using Dropbox-js, which uses the Dropbox V1 API. This API is deprecated and may be removed soon. We should switch to Dropbox V2 at some point, which does not have a JavaScript SDK, but has well-documented REST endpoints.

[2016-06-29 15:55] jvilk commented on #467
Whoops; added in wrong repository. Meant to put this in BrowserFS.

[2016-06-29 15:55] #467 closed

[2016-06-30 14:17] hrj opened #468 "Could the thread.throwNewException() method use thread.getLoader() instead of thread.getBsCl()"
The `thread.throwNewException()` method is very convenient when throwing exceptions from native code. However, it uses the bootstrap class loader for loading the exception class, making it difficult to throw custom exceptions.

If it uses the loader from `getLoader()`, user defined exceptions can be easily thrown.

[2016-06-30 16:25] jvilk commented on #468
Sounds good to me. Feel free to open a PR!

[2016-07-04 20:41] #468 closed

[2016-08-12 08:05] marcosscriven opened #470 "Error in trace creation"
Running Doppio from build off master, I got an ```Unexpected Integer``` Javascript error in Chrome.

It appears to be in this emitted function:

[code]

Which formatted looks like:

[code]

Making it clearer the double-minus in the ```readInt32BE(...)``` args is the issue.

I searched for when ```f.opStack.pop()``` first appeared, and found this commit by @hrj : https://github.com/plasma-umass/dop

[2016-08-12 08:30] hrj commented on #470
Ah, this is easy to solve. Constants should have a space preceding them in the emitted code.

I will try to locate the opcode that causes this.. but a test-case would help fix and validate faster.

[2016-08-12 08:32] marcosscriven commented on #470
Thanks @hrj - all I know is it's *somewhere* in the execution of third-party jar.

If you can briefly describe how I find out what class/method is running at the time, I could probably decompile it and create a test case.

[2016-08-12 09:00] hrj commented on #470
The emitted code is for the tableswitch opcode (which doesn't have a unit-test I think). I have pushed a tentative fix to [this branch](https://github.com/UprootStaging/doppio/tree/fix470). Can you try it @marcosscriven ?

To figure out the source of error, on CLI you can add the `-XX:+PrintCompilation` flag.

In the library, you can call `JVM.setPrintJITCompilation(true)` and use the dev build.

[2016-08-12 13:22] marcosscriven commented on #470
Hi @hrj - that worked thanks. 🏆

Incidentally I  tried ```-XX:+PrintCompilation```, but didn't seem to have any effect. I deliberately misspelt it too as a sanity check, and it's definitely being picked up.

I've got ```stdout``` and ```stderr``` correctly piping to the console, so not sure what the issue there is.

[2016-08-13 06:29] marcosscriven opened #472 "Error creating temp files with Files.createTempFile()"
I've found an issue creating temp files (which I think may be related to work merged in https://github.com/plasma-umass/doppio/pull/385)

The following works:
[code]

However, this doesn't:

[code]

Resulting instead in:

[code]

This trace is somewhat odd, as creating a new temp file should not result in failing if the file doesn't exist. Digging into a local JVM it looks like it tries to do some

[2016-08-13 06:30] marcosscriven commented on #472
Just as an aside, for anyone looking at this in future, a workaround for avoiding temp file issues in ImageIO is: ```ImageIO.setUseCache(false);```

[2016-08-16 21:56] marcosscriven opened #473 "npm install from GitHub repo fails"
Hi

Because there are some fixes currently in the repo which haven't been released, I'm trying to install it in npm from Github:

```npm install plasma-umass/doppio```

This fails with the following error:

[code]

The full log is: [npm-debug.log.txt](https://github.com/plasma-umass/doppio/files/421408/npm-debug.log.txt)

[2016-08-16 21:57] marcosscriven commented on #473
[npm-debug.log.txt](https://github.com/plasma-umass/doppio/files/421400/npm-debug.log.txt)

[2016-08-16 22:10] marcosscriven commented on #473
The directories npm is trying to change perms for I think were addess in ```package.json``` in this commit: https://github.com/plasma-umass/doppio/commit/5f9d4c8cabb488f292e098859e84369cbca51b72#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R70

[2016-08-16 22:13] jvilk commented on #473
Hmm, interesting. Thanks for the report! I will look at this more closely tomorrow, and perform an NPM release with a fix.

[2016-08-16 22:15] marcosscriven commented on #473
Just to add, I've confirmed this broke in the commit I mentioned.

This works fine (the parent commit):

```npm install plasma-umass/doppio#2bd98ef12f00847d2a0359f3c391ad04c7777ffd```

Whereas the subsequent commit has the issue with absent bin directories:

[code]

[2016-08-16 22:15] jvilk commented on #470
@marcosscriven I believe that flag only works in development or fast-development builds. I'll open an issue, since we shouldn't list flags that aren't operational in a build.

[2016-08-16 22:17] jvilk opened #474 "Remove PrintCompilation in Release Builds"
I believe PrintCompilation is disabled in release builds. We should not list this option in release builds.

Also, we should comb through the other options, and conditionally process any other command line flags that are not available in all builds.

[2016-08-17 07:38] marcosscriven opened #475 "Case sensitivity of require("browserfs")"
I had some issues using [Webpack](https://github.com/webpack/webpack/issues/382) with Doppio, which can package modules imported with ```require()```  into a single ```.js``` file.

For some reason, the built Doppio files have ```require("BrowserFS")```, rather than ```require("browserfs")```, even though in the original Typescript, it's lowercase. See https://github.com/plasma-umass/doppio/blob/m

[2016-08-17 14:59] jvilk commented on #475
Yup, NPM forbids capital letters in package names. I remember trying to publish BrowserFS as `BrowserFS`, and seeing an error message.

I use a Mac, so case-sensitivity issues like this occasionally creep up. Thanks for pointing out the bug!

[2016-08-17 15:28] marcosscriven commented on #475
Sorry fat fingered 'Close'

[2016-08-17 18:14] #470 closed

[2016-08-17 18:22] jvilk commented on #475
@marcosscriven I found the issue.

When I build Doppio with webpack, I specify `browserfs` as an `external` module backed by the `BrowserFS` global. I do this because I do not want to pack BrowserFS within Doppio.

Webpack translates this into detection code that either:

* Fetches the global `BrowserFS` variable, or...
* Tries to `require("BrowserFS")` if there is a module loader

I'm not sure wh

[2016-08-17 18:23] jvilk commented on #475
@marcosscriven perhaps you should specify an external "BrowserFS" module that is backed by a "BrowserFS" variable like I did? Then you wouldn't bundle BrowserFS, and it would resolve properly to a global?

[2016-08-17 18:56] jvilk commented on #472
For some reason, my code translates the request into an `open()` call with `r` set. Investigating...

[2016-08-17 19:29] jvilk commented on #472
I found the issue. I was not converting `open()` arguments into Node's string-based `fopen()` flags properly; I used an incorrect mask.

I also discovered I'm missing a chunk of simple `nio` natives. I'm beefing up unit test coverage and adding those missing methods right now.

[2016-08-17 22:08] marcosscriven commented on #475
Thanks for looking into it @jvilk - I'll give that a go at the weekend.

[2016-08-18 01:55] #472 closed

[2016-08-18 14:29] jvilk commented on #473
So, DoppioJVM isn't "ready-to-install" in the Git repository because it is not built from source. It needs to have all of its development dependencies, and then have the `prepublish.js` script run to compile DoppioJVM and create all of the artifacts needed.

As a compromise, I can simply add these `bin` scripts to the repository instead of generate them. But DoppioJVM won't "just work" when instal

[2016-08-18 14:32] #473 closed

[2016-08-18 15:13] #474 closed

[2016-08-18 15:14] jvilk commented on #475
I think I found a solution!

https://stackoverflow.com/questions/34252424/webpack-umd-lib-and-external-files

Going to try this out next.

[2016-08-18 15:18] marcosscriven commented on #473
Ah - kind of a shame, as [npm install](https://docs.npmjs.com/cli/install) can take a GitHub name/repo argument for just this purpose.

You can set your own script to run after install has installed deps, just by specifying ```{"scripts": {"install": "grunt release"}```

[2016-08-18 15:21] jvilk opened #476 "Track position on file descriptors separate from `FileDescriptor` objects"
Java has two different APIs for accessing the file system: `java.io` and `java.nio`.

* `java.io` is the older of the two, and optimistically uses objects and abstractions for everything. Thus, it has a `FileDescriptor` abstraction that encapsulates a Unix file descriptor. Only our native code ever touches it.
* `java.nio` is pessimistic about abstraction, and goes the opposite way. It reads and w

[2016-08-18 15:25] jvilk commented on #473
@marcosscriven We do have an install script. But building DoppioJVM from source in an install script would be a *huge* issue for people using DoppioJVM from NPM.

Basically, it would turn all of our devdependencies into dependencies, since we need a huge amount of packages for the compilation process. Most people wouldn't want that.

I mean, we could probably detect the `.git` situation and recurs

[2016-08-18 15:39] #475 closed

[2016-08-18 16:36] #476 closed

[2016-08-18 17:18] jvilk opened #477 "Browser Build Broken"
My recent changes broke the browser build (try saying that 3 times fast!).

This is blocking me from issuing a new release. Working on it now.

[2016-08-18 17:58] jvilk commented on #477
Argh, I appear to be hitting an UglifyJS bug.

Original code:

[code]

JavaScript:

[code]

[2016-08-18 18:22] jvilk commented on #477
[I believe others are experiencing this bug.](https://github.com/mishoo/UglifyJS2/issues/1213) Seems to be a bug that occurs when you disable IE8 support. The default changed from supporting IE8 to not supporting IE8 in a recent version, breaking mangling on my project.

[2016-08-18 18:36] jvilk commented on #477
Actually, I misread the bug; it occurs when `screw_ie8` is enabled. Toggling `screw_ie8` doesn't appear to fix the bug, and the UglifyJS plugin for Webpack uses an older version of UglifyJS.

[2016-08-18 19:11] jvilk commented on #477
Fixed. I disabled `screw_ie8` and fixed up some stuff that confused Webpack.

[2016-08-18 19:11] #477 closed

[2016-09-26 18:42] Efreak commented on #45
Has anything changed regarding this issue? Considering [this page](http://openjdk.java.net/groups/swing/) it seems (from my likely ignorant view) that it should be comparatively trivial to remove the prefixes (compared to working around them).

Given the removal of java support from browsers, a project like this would be amazingly useful for old websites, whether for playing [old games](http://jav

[2016-09-27 17:51] jvilk commented on #45
Hey @Efreak,

OpenJDK [readily admits](http://mail.openjdk.java.net/pipermail/challenge-discuss/2008-March/000082.html) that OpenJDK's Swing/AWT implementation is not as portable as the AWT specification suggests.

The linked project would be an ideal fit for Doppio, but it appears to be incomplete and seems to be either dead or on life support.

We do not have the resources at the moment to attem

[2016-09-28 11:33] dimondl opened #478 "Class.setSigners / getSigners are Unimplemented"
Hi!

I have a problems with classes usage  from org.eclipse.jdt jars.
I tested in two environments - latest doppio (build from github) under Ubuntu (LTS 14.04, node v4.5.0) and at live demo page (http://plasma-umass.github.io/doppio-demo/) in Google Chrome (Version 53.0.2785.116 m (64-bit)) .

[log.txt](https://github.com/plasma-umass/doppio/files/497863/log.txt)

Eclipse jdt builded from latest s

[2016-09-28 14:19] hrj commented on #478
Thanks for the detailed report @dimondl . I am able to reproduce this on my system. Will dig deeper.

[2016-09-29 10:18] hrj commented on #478
I was able to trace the root cause for this: `Class.setSigners(Object[])` is not yet implemented by doppio.

@dimondl As a temporary workaround you could try this patch:

[code]

The test case works with the above patch; however, your actual app may not.

@jvilk I could try to implement that native method. Do you have some hints to share?

[2016-09-29 12:46] dimondl commented on #478
@hrj  Yes, simple usage now works (after this changes). Thank you.

[2016-09-29 14:43] jvilk commented on #478
@hrj Thanks for volunteering and finding the issue!

From a brief look at HotSpot's sources, it looks like you need to [add an injected field to `java.lang.Class` called `signers`](http://hg.openjdk.java.net/jdk8u/jdk8u/hotspot/file/58d961f47dd4/src/share/vm/classfile/javaClasses.hpp#l225), then implement [`setSigners`](http://hg.openjdk.java.net/jdk8u/jdk8u/hotspot/file/58d961f47dd4/src/share/vm/

[2016-09-29 14:44] jvilk commented on #478
Note that adding a new injected field invalidates`includes/JVMTypes.d.ts`, so  you'll need to do a clean build that regens that file!

[2016-09-29 18:44] hrj commented on #478
@jvilk Thanks for the hints. I am not sure what an injected field is. Dynamically created field to save memory?

From the reference it looks like a simple getter + setter pair with a few sanity checks. I think it is best you implement it since you might be able to do this quicker than me. If you are tied, let me know.

[2016-09-29 18:50] jvilk commented on #478
@hrj It's a field on a JVM object that is *not* contained in the class definition file -- an internal field visible only to the JVM. We [specify them here](https://github.com/plasma-umass/doppio/blob/master/src/ClassData.ts#L41) -- including their initial value and TypeScript type.

I might be able to squeak this change in later on tonight. If you think you want to take a stab at it, please reply

[2016-09-29 19:01] hrj commented on #478
@jvilk Ah, I see; thanks. I will take a stab at it tomorrow (past midnight here); unless someone beats me to it.

[2016-10-02 05:09] awcoding opened #479 "doppioh problem"
I had a problem with generating a native stub method using doppioh.

[code]
PS ES6 Generators have started working for me lately in chrome. So I thought an approach like this (https://github.com/mozilla/task.js) might be of interest, for a potential solution to the browser api wrapping issue in doppio.

[2016-10-03 00:52] jvilk commented on #479
I have reproduced the issue; this looks like a bug.

[2016-10-03 01:03] jvilk commented on #479
Regarding `task.js`, I'm not sure what exactly you mean. Generators expose a nice interface that might be useful for a native API one day, since you can "pause" a JavaScript function to wait for a DoppioJVM function call to return. But it's not fruitful to pursue them as the default solution until they are present in all web browsers and are fast.

[2016-10-03 01:11] jvilk commented on #479
@awcoding you need to use a package name, not a class name. The error message should be fixed, though.

Try: `./doppioh -classpath . -d natives/ classes/ns`

[2016-10-04 23:26] #478 closed

[2016-10-09 18:19] hrj commented on #478
@jvilk Do you plan to make an npm release with this fix soon?

[2016-10-09 20:37] CrazyPython commented on #326
@jvilk run once, it's all camel case

[2016-10-10 02:56] jvilk commented on #478
@hrj Sure, I can look into this tomorrow and potentially address the `doppioh` error issue.

[2016-10-10 02:58] jvilk commented on #326
@CrazyPython ? We have a number of non-camel-case methods, such as in `util`. I've hesitated to change them because I think I may break others' code. (Perhaps next major version release.)

[2016-10-11 15:22] #479 closed

[2016-10-11 15:35] jvilk commented on #478
@hrj Done!

[2016-10-11 15:35] jvilk commented on #479
@awcoding OK, I was wrong; the help text specified that class names should work. I found a bug that prevented it from working. This is now fixed in v0.4.2. Thanks for reporting!

[2016-10-11 19:45] awcoding commented on #479
Thanks for that. Sorry for the late response. I just got back from my vacation.

Is the change in master? I think there still might be an issue here.

[code]

BTW Regarding js generator support, I think it's in Chrome, FF & Microsoft Edge now. That's pretty good. I doubt it will get any better than that for the next 5 years.

[2016-10-11 20:03] jvilk commented on #479
It will put that into a file if the classes you passed to `doppioh` have no native methods. Are you sure your target classes/packages have native methods?

Oh, that's good progress. My next point still holds, though: They need to be relatively fast. I know that initial generator support limited their execution to JS interpreters, limiting their performance. The last I heard, FF and Chrome landed s

[2016-10-11 20:33] awcoding commented on #479
Oops, forgot my native keyword,. :)

[2016-10-11 20:44] CrazyPython commented on #326
@jvilk Deprecate the older methods, say they will be removed in later releases. Set them to the correct method. Example: `var some_function = someFunction;`

[2016-10-18 01:49] nybbs2003 opened #481 "How to debug in browser"
As in Eclipse, I can put break points and hold on execution of a Jav program and see virable value, as well as doing do in Firefox for Javascript program. However, When running Java programs in browser, I lack of respective toolchains to do things alike. What shall I use to the same task?

[2016-10-18 01:53] jimfb commented on #481
In general, depending on what you're doing, it's usually easier to debug your Java program using the standard Java tools (eg. Eclipse), and then run it in doppio after having debugged it.

[2016-10-18 07:45] nybbs2003 commented on #481
@jimfb Yes, that is what to do for general programs. But what if I need to debug doppio-specfic problems?

[2016-10-18 13:13] jimfb commented on #481
Yeah, I agree, that's harder.  AFAIK, the tooling for that doesn't exist at the moment.  I just fall back to `System.out.println()` at that point.  If you can separate the doppio-specific code from the rest of your application, you can minimize the time you spend debugging without a debugger.

[2016-10-19 22:06] jvilk commented on #481
@jimfb is correct; the tooling does not exist right now. If someone wanted to add support for debuggers to DoppioJVM, the best approach would be to add support for the JVM debugging wire protocol to DoppioJVM. Then, you would be able to attach any existing JVM debugger to DoppioJVM. I've looked at the wire protocol before, and it looks very doable.

[2016-10-20 05:44] nybbs2003 commented on #481
@jvilk Thanks!

[2016-10-25 04:22] cool2man opened #482 "npm install failed"
"npm install" failed with the following information:

[code]
The log file is attached

[npm-debug.log.zip](https://github.com/plasma-umass/doppio/files/549611/npm-debug.log.zip)

[2016-10-25 15:38] jvilk commented on #482
[code]

The install procedure assumes that `node` is installed to your system's path. Are you on Debian? You may need to install the `nodejs-legacy` package.

[2016-10-25 16:11] cool2man commented on #482
I am on MacOS Sierra.
node is available at /usr/local/bin which is in $PATH.

For me it seems that "includes/JVMTypes.d.ts" is missing.

Some of my console output:

[code]

[2016-10-25 16:15] jvilk commented on #482
Whoa! Okay, that's interesting.

Also, `JVMTypes.d.ts` is generated in that `doppioh` step as part of bootstrapping. The build system (correctly) ignores type checking errors in the `dev-cli` step during bootstrapping. The issue is that `doppioh` fails for a bizarre reason.

[2016-10-25 16:22] jvilk commented on #482
I just successfully ran:

[code]

I'm on a Mac, too (the version prior to Sierra; haven't made the jump yet!).

I have Node v6 installed, though. So does Travis. But I don't understand why that would cause an issue.

You're running this from an up-to-date clone of Doppio, right?

[2016-10-25 16:31] cool2man commented on #482
I did exact the same as you tried on your Mac - all from scratch. My node is much older (4.4.5). I will check how to switch to the latest stable version...

[2016-10-25 16:33] jvilk commented on #482
That's frustrating; 4 should still work. :(

That error message is completely nonsensical, though.

[2016-10-25 16:46] cool2man commented on #482
Updated to v6. Same missing include - BUT its created in a later step and npm installed finished. Is this now a good or bad news? ;-)

[2016-10-25 16:52] jvilk commented on #482
@cool2man this is intentional.

`JVMTypes.d.ts` is dynamically generated by Doppio itself. But it is also required for TypeScript to typecheck Doppio during compilation.

Rather than check that gigantic file in, we do the following the *first time* you compile Doppio:

* Compile Doppio with TypeScript with *type checking errors ignored* (causing the warnings you see). TypeScript can produce JavaSc

[2016-10-25 16:52] #482 closed

[2016-10-26 04:29] cool2man opened #483 "natives/*.js missing in build/release"
After building the project
[code]
I could not find the natives directory inside build/release.
This situation has changed since my last build on an older version (at the begin of September).

Without these js-files, I can't get my solution running inside browser.

[2016-10-26 15:17] cool2man opened #484 "socket.write(byte[]) does not work"
My code looks like:
[code]
This results into sending ONE byte (which is 0x00) instead of the FOUR bytes.

Having a look into websock.js I noticed a problem in the following function:
[code]
sQ is an empty array, while arr is an Uint8Array. Therefore sQ.concat(arr) results into an array with ONE entry which is the complete Uint8Array arr (and not in an array with 4 entries).

I changed the send fun

[2016-10-26 15:34] cool2man opened #485 "socket.read() does not work"
My code looks like:
[code]
This results always in c = -1 (EOF). On the server side the connection stays on, NO data is sent to the client.

No more infos for the moment, I will continue to check the situation tomorrow. I opened this issue early to give a chance, to look at this topic in combination with the socket.write() problem that I had submitted before.

[2016-10-26 15:39] jvilk commented on #484
Yeah; because I never added automated tests for them, sockets gradually became broken and nobody noticed.

I began fixing sockets [in this PR](https://github.com/plasma-umass/doppio/pull/462), but ran out of time to completely fix them. I'd like to return to the PR sometime to get them in ship-shape.

If you have any inclination to fix them yourself, let me know! I'd happily let you take over the

[2016-10-26 15:41] jvilk commented on #483
I added another way to register native modules with DoppioJVM, and opted to use that method for the built-in natives to remove some startup cost.

You have two options:

* Use the new API to register a function that, when called, returns the same object you passed to `registerNatives` before.
* Use the old API. Re-generate `listings.json` by running `node ./node_modules/browserfs/dist/scripts/make

[2016-10-26 16:46] norzak commented on #401
Has this bug been fixed on the new release?

[2016-10-26 16:55] jvilk commented on #401
@norzak this is not a bug in Doppio. This is a bug in Chrome. Please [star this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=344814&can=5&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified) so the Chrome developers know that this should be fixed.

[2016-10-27 10:24] cool2man commented on #483
Sorry, but I do not understand - even both options :-(

For both options I need the *.js files - but they are not be built anymore?!?
My build/release looks like:
[code]
I am missing the folder "natives" with the (native) js-files?
In build/release-dist they still exists (inside folder source/native).

[2016-10-27 10:50] cool2man commented on #485
I checked the situation (using a month older version, but I see no essential changes inside java_net.ts, so I expect the same for the current version):

- standard situation as in my last comment -> read will get -1 at once
- standard situation as in my last comment + in addition I send data from the server to the client -> read will get -1 at once
- standard situation as in my last comment + I se

[2016-10-27 11:07] cool2man commented on #484
I would invest the time to take over the PR - but my experience is too weak. I will try to fix the socket stuff for my use case (quick & half blind & dirty) and will you keep informed what I did.

[2016-10-30 17:32] jvilk commented on #483
@cool2man I updated the documentation; hope it clarifies.

https://github.com/plasma-umass/doppio/tree/master/docs#adding-native-methods-using-doppioh

[2016-10-31 07:40] cool2man opened #486 "Charset.availableCharsets() does return null"
java.nio.charset.Charset.availableCharsets() return null. I expect that this method returns a map with the available charsets; minimum the JVMs must have: US-ASCII, ISO-8859-1, UTF-8, UTF-16BE, UTF-16LE, UTF-16.

[2016-10-31 16:28] jvilk commented on #486
Weird; that should work. The logic appears to be in 100% Java, but maybe there's a system property I need to set. Will look at further later.

[2016-11-01 03:39] nybbs2003 commented on #450
+1

[2016-11-01 03:41] nybbs2003 commented on #418
+1

[2016-11-01 04:26] jvilk commented on #450
The latest release uses the [NPM buffer package](https://github.com/feross/buffer), which implements `Buffer` atop `Uint8Array` objects.

[2016-11-01 04:26] #450 closed

[2016-11-02 07:24] cool2man commented on #484
This is my version of socketWrite0 which works well for me:
[code]
lines 8 to 12 were added/changed

[2016-11-02 07:37] cool2man commented on #485
This is my version of socketRead0 which works well for me:
[code]
A lot of changes were done. This solution is able to run my (home made) web / app server using reverse HTTP connections. One browser session opens up to 5 connections in parallel to the web server which are all running well. For testing purposes I added the use of socket timeout to my implementation, which works also as expected.

[2016-11-07 08:39] cool2man opened #487 "getCanonicalHostName() throws NullPointerException"
InetAddress.getLocalHost().getCanonicalHostName() throws a NullPointerException.
Stack trace:
[code]

[2016-11-07 09:24] cool2man commented on #483
Sorry. I didn't got it. Let us complete reset the question:

I try to use doppio in my own website using this document: https://github.com/plasma-umass/doppio/tree/master/docs

Step 0: works!

Step 1: As I don't have the generated natives/*.js any longer in in build/release, I created my web folder without them.

Step 2: On start of the virtual machine the builtin natives are missing; this results

[2016-11-08 16:28] jvilk commented on #483
@cool2man In Step 1, make sure you're configuring this setting properly:

[code]

It's very possible that you are not passing the correct path to `listings.json`.

[2016-11-10 17:33] jvilk commented on #485
I'm happy that you found a solution that works for you. :)

The [sockets_fixed](https://github.com/plasma-umass/doppio/tree/sockets_fixed) branch works locally on a simple test, but is currently failing on Travis. I'd like to figure out why that is before I enhance it further. If you feel like testing it out, let me know if it works for you!

[2016-11-12 14:14] zzj1213 opened #488 "Equinox OSGi container error"
/home $ java -jar org.eclipse.osgi_3.11.1.jar -console
Exception in thread "main" java.lang.ClassNotFoundException: Cannot load class:
org.eclipse.core.runtime.adaptor.EclipseStarter
        at java.lang.Class.forName0(Native Method)
        at java.lang.Class.forName(Class.java:348)
        at doppio.JarLauncher.main(JarLauncher.java:32)

[2016-11-13 01:46] jvilk commented on #488
I get the following error with the Node frontend:

[code]

That error is caused by Node's secure PRNG not accepting a seed. We might have to build a secure PRNG on top of Node's secure PRNG that can accept a seed.

[2016-11-13 08:16] cool2man commented on #485
I would check the socket_fixed branch, but "npm install" results into error(s). How is this branch installed and build?

[2016-11-22 09:42] nybbs2003 commented on #487
I suggest to return "doppio" instead.

[2016-12-22 08:59] PaulBGD opened #489 "TypeScript doesn't build"
Looks like it's due to: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/12942

[2016-12-22 09:01] PaulBGD commented on #489
Oh another issue with the build is that the tasks use an array of AsyncFunctions, which now require 2 generics:
[code]

[2016-12-22 09:02] PaulBGD commented on #489
Looks like a quick fix for both of these issues is to change the typings version for `async: https://github.com/jvilk/BrowserFS/issues/165#issuecomment-263137208

[2016-12-22 09:15] PaulBGD commented on #489
Found one more issue why it doesn't build: #491

[2016-12-22 23:26] jvilk commented on #489
@PaulBGD is this fixed with your PR? Seems like it is, since the builds are green.

[2016-12-22 23:39] PaulBGD commented on #489
Yep! Thanks for pulling.

[2016-12-22 23:39] #489 closed

[2017-02-01 04:41] jvilk commented on #465
Fixed!

[2017-02-01 04:41] #465 closed

[2017-03-08 05:46] DanielRough opened #493 "Doppio doesn't compile in TypeScript 2.2"
Hi, I'm having trouble with running 'npm install' I have all the prerequisites (JDK 8, npm, node, grunt-cli) but towards the end of npm install I get this failure message:

I'm on Ubuntu 16 if that makes any difference, and attach my debug log.
[npm-debug.txt](https://github.com/plasma-umass/doppio/files/826727/npm-debug.txt)

Thanks for looking!

[2017-03-08 16:37] jvilk commented on #493
Ah, looks like Doppio doesn't compile in TypeScript 2.2.

A workaround is to run `npm install typescript@2.0.3` in the doppio folder to install a compatible version. Let me know if that doesn't work.

[2017-03-08 17:26] DanielRough commented on #493
Thank you for your quick reply!
Unfortunately I'm now faced with a syntax error.

Log attached below. Please could you advise? Thank you!

[npm-debug.txt](https://github.com/plasma-umass/doppio/files/828408/npm-debug.txt)

[2017-03-08 17:28] jvilk commented on #493
I really need to switch to using Yarn to lock down these package versions. :-)

My assumption: `@types/jasmine` is also a newer version that relies on a newer version of TypeScript. [The last version I explicitly installed was 2.5.35](https://github.com/plasma-umass/doppio/blob/master/package.json#L29), so maybe an `npm install @types/jasmine@2.5.35` will fix it?

I'll look at all of these package

[2017-03-08 17:35] DanielRough commented on #493
The minor inconvenience of package version issues is more than compensated for by the convenience of doppio :D

Suffice to say that did the trick! I look forward to working with it, thanks again. :-)

[2017-03-27 14:19] jvilk commented on #493
Should now be fixed in master.

[2017-03-27 14:19] #493 closed

[2017-04-04 22:51] ExE-Boss opened #494 "Long-term goal: Browser extension to replace Java plugin"
This would solve the issue with Java 9+ no longer shipping with a plugin, and allow old websites which rely on the Java plugin to function properly and don’t have DoppioJVM.

This would serve a similar function to Mozilla’s [Shumway](https://github.com/mozilla/shumway) (Mozilla's JavaScript Flash replacement, which also ships as a Firefox extension).

The extension would be implemented using the W

[2017-04-04 22:53] ExE-Boss commented on #45
I was thinking of doing #494 instead of a bookmarklet.

[2017-04-04 23:23] jvilk commented on #45
Either way, the challenges remain the same. I can provide pointers to anyone willing to tackle the challenges, but I am unable to provide significant engineering support (other than code reviews for any PRs opened). So if you want to take a swing at this, @ExE-Boss, feel free! 😄

[2017-04-09 03:30] lixinlin opened #495 "Is there a way just download the dependenced class in jars"
when deploy the doppio webapp, so many and so big jars should be downloaded to client, it takes long time and no notice for the downloading event. Is there a way just download the dependenced class in jars?

[2017-04-10 16:47] semperos commented on #485
Is it the case that creating a socket is only supported in the browser (outside of that `sockets_fixed` branch)? Looking at [this conditional](https://github.com/plasma-umass/doppio/blob/0fc2b268d4678d3a1b95b3b22ee06c5c5657718f/src/natives/java_net.ts#L163-L164).

[2017-04-10 17:38] cool2man commented on #485
No. This is the case that the socket implementation in general is currently buggy.

[2017-04-12 17:56] bplevin36 commented on #45
I'd like to take a stab at this, but a very focused one.  I have some old applets lying around that performed some physics computations.  I'd love to get them working in the browser, and I wouldn't need any AWT or Swing support for them, just the applet lifecycle harness.  I've researched how to go about implementing this, based off the OpenJDK source and the IcedTea web plugin, but both of them s

[2017-04-14 14:27] lixinlin commented on #495
Is there anyone has the same question?

[2017-06-16 08:25] ExE-Boss opened #496 "Compile to WebAssembly"
Because WebAssembly is a lot faster than JavaScript, and TypeScript is typed it would be better to compile the TypeScript code to something closer to machine code.

There are already experimental utilities that allow compiling TypeScript code to WebAssembly: https://github.com/rsms/wasm-util

[2017-06-21 08:22] norzak commented on #401
The chrome bug looks like fixed. Any improvement on your end? does it work with doppio as expected?

[2017-07-05 21:07] jvilk commented on #496
@ExE-Boss Those tools let you work with WebAssembly code from TypeScript; it doesn't compile TypeScript to WebAssembly.

Like with ASM.js, porting Doppio's JVM to use WebAssembly would require us to implement a complete garbage collector in JavaScript, implement an FFI between JavaScript and DoppioJVM, and many other changes. It is beyond the scope of the project.

[2017-07-05 21:07] #496 closed

[2017-07-05 21:09] jvilk commented on #495
You could choose to re-package the JAR files to contain only the classes you think you need. Due to reflection, there's no magic tool that can figure out all of the dependencies that your project definitely needs.

As for no notice for the downloading event, the demo at https://doppiojvm.org/ does have a progress bar; it pre-loads the JARs into the file system before starting DoppioJVM. The code f

[2017-07-05 21:09] #495 closed

[2017-07-12 08:07] emarsden opened #497 "Method flip()Ljava/nio/ByteBuffer; does not exist in class java.nio.ByteBuffer"
Attempting to run ABCL triggers this error.

[code]

ABCL is from https://common-lisp.net/project/armedbear/

[2017-07-12 17:36] jvilk commented on #497
That's an odd error message. `flip()` returns a `Buffer`, not a `ByteBuffer`. Something must be going wrong before ABCL determines the method to invoke!

[2017-07-12 17:45] jvilk commented on #497
ABCL *has* worked in Doppio before, btw. I remember testing it.

[2017-07-23 09:30] corporatepiyush opened #498 "Tomcat with Sprint and Hibernate"
Cool project.
Has anybody tried running Tomcat war file along with standard server side stack using Spring Framework and Hibernate?
If Not... will it be supported in near future ?

[2017-08-09 01:24] jsfan3 opened #499 "Help in my first Doppio app"
Hello,
I followed the instructions to put Doppio inside a web page, but I wasn't able to run a jar in a web page: I get a blank page.

I attach my project (I omit java_home content because it's too big): what's wrong?
[myapp.zip](https://github.com/plasma-umass/doppio/files/1210017/myapp.zip)

Thank you very much for any help.

P.S.: Does the browser have to load all the java_home content (97 MB)?

[2017-08-09 19:23] hhuynh opened #500 "Encountered error: TypeError: Cannot read property 'getLoader' of undefined"
Failed to run provided example

% ../../doppio -cp example example.App

Encountered error: TypeError: Cannot read property 'getLoader' of undefined
TypeError: Cannot read property 'getLoader' of undefined
    at a.getLoader (/Volumes/Unix/workspace/doppio/src/threading.ts:709:49)
    at a.throwNewException (/Volumes/Unix/workspace/doppio/src/threading.ts:1159:44)
    at b.a.throwClassNotFoundExcep

[2017-08-09 20:20] ttjordan commented on #500
I have the same issue

[2017-08-10 06:40] yunfan opened #501 "how about implement Graphic APIs via canvas and WebGL?"
how about implement Graphic APIs via canvas and WebGL?

[2017-08-10 15:31] jvilk commented on #501
I don't know what graphics API you are referring to. If you mean JavaFX, there's [an issue about that](https://github.com/plasma-umass/doppio/issues/373). If you mean AWT/Swing, there's a [issue/comment describing why this is hard](https://github.com/plasma-umass/doppio/issues/45). If you mean jogl / webgl, I recently received an email from someone interested in working on that.

I personally do n

[2017-08-10 15:31] #501 closed

[2017-08-10 15:32] jvilk commented on #498
Do you mean running a server stack in the browser?

DoppioJVM currently only supports client / outgoing TCP sockets, so you cannot run servers in it unless I combine it with [Browsix](https://github.com/plasma-umass/browsix).

[2017-08-10 15:37] jvilk commented on #499
DoppioJVM needs to load all of the classes that might be used at runtime. The 97MB `java_home` compresses into ~40MB. The [DoppioJVM demo](https://plasma-umass.github.io/doppio-demo/) loads and decompresses a gzipped Java home into browser storage, so the user only needs to download the files once. I think this download is acceptable in certain scenarios.

It is possible to reduce `java_home`'s si

[2017-08-10 15:49] jvilk opened #502 "Change examples to use newest BrowserFS"
Some of the APIs used in the examples will be removed in v2.0. Also, the newer API greatly simplifies file system setup!

[2017-08-10 15:52] jvilk commented on #500
I've confirmed and reproduced the issue! I'll take a look when I have time. Thanks for reporting.

[2017-08-10 15:55] jvilk commented on #500
Oof, this is an unfortunate non-error message.

You're actually specifying your classpath incorrectly! If you try:

[code]

...notice that it doesn't work. Instead, you need to do:

[code]

Thus, run the following command instead:

[code]

With that said, this should really give you a better error message!

[2017-08-10 17:28] ttjordan commented on #500
Thank you a lot for a quick reply! It worked!

[2017-08-10 18:08] hhuynh commented on #500
yes that was it. Though if you're inside the docs/examples folder, the correct command is:

 %> ../../doppio -cp . example.App

[2017-08-12 14:29] yunfan commented on #501
yes i mean jogl/webgl, can you point me the link that guys's project?

[2017-08-16 08:36] Solant opened #503 "Error on build"
Tried to build the project but got this error on current master (b6dbd73).
[code]

[2017-08-16 16:56] jvilk commented on #503
It looks like it's using too new of a version of TypeScript. Could you try installing the dependencies with `yarn install` instead? That should give you the exact version of the dependencies used during the last successful build.

[2017-08-16 19:59] Solant commented on #503
That's embarrassing, looks like I need to learn how to read manuals. Now build works fine. Thanks a lot.

[2017-08-16 20:00] #503 closed

[2017-10-06 12:26] rototor commented on #497
This problem also happens when you build the software with JDK 9 with target JDK 8, because in JDK9 ByteBuffer.flip() returns a ByteBuffer... It used to return a Buffer in JDK8.

And then you try to run this on JDK8 you get exactly this error.

Java-Workaround: Just cast your ByteBuffer to Buffer before calling flip()... i.e. ```((Buffer)byteBuffer).flip()```. Then you can compile your project wit

[2017-10-06 16:38] jvilk commented on #497
Thanks for the tip; I didn't realized JDK9 had some breaking changes like that! It'd be nice to move to JDK9 someday.

[2017-10-16 01:56] MooseValley opened #504 "3 Issues - Fib example and my own JAR apps"
1).  Uploaded a simple GUI game:

/home $ java -jar Oblotteration.jar
Exception in thread "main" java.lang.ClassNotFoundException: LOblotteration ;
at java.lang.Class.forName0(Native Method)
at java.lang.Class.forName(Class.java:348)
at doppio.JarLauncher.main(JarLauncher.java:32)

Not sure whats wrong, Oblotteration.jar runs perfectly on Linux, Windows, and Mac OS.
Nothing in my code uses / refer

[2017-12-20 19:20] 15characterlimi commented on #497
My understanding is that the "correct" way to generate .class files with JDK 9 javac that can be run under JDK 8 java is to not only pass -target 1.8, but to also to set an appropriate bootclasspath, eg. (if $JAVA8_HOME points to an installation of JDK8):
--bootclasspath=${JAVA_8_HOME}/jre/lib/rt.jar:${JAVA_8_HOME}/lib/tools.jar

This way, you will also get an error at compilation time (rather tha

[2017-12-21 16:25] 15characterlimi commented on #497
Or, more simply, you could use:
 --release 8
instead of -source 1.8 -target 1.8 --bootclasspath=...
See http://openjdk.java.net/jeps/247

[2018-01-04 07:55] santha6693 opened #505 "PrintServiceLookup is not working in Doppio"
PrintService[] printServices = PrintServiceLookup.lookupPrintServices(null, null);
 System.out.println("Number of print services: " + printServices.length);
 for (PrintService printer : printServices) {
        System.out.println("Printer: " + printer.getName());
}
While Executing the above code the doppio through the following Exception.

java.lang.UnsatisfiedLinkError: Native method 'sun.print.C

[2018-01-04 18:11] jvilk commented on #505
Looks like we need to stub some printer-related native methods to act as if no printers exist. I'll accept pull requests that implement these.

[2018-01-06 04:09] amahdy opened #506 "Native method getUptime not implemented"
Trying to run some code on doppiojvm and getting this exception:

[code]

[2018-01-08 16:35] jvilk commented on #506
Why not issue a pull request to implement this? There's a [tutorial](https://github.com/plasma-umass/doppio/tree/master/docs#adding-native-methods-using-doppioh) on how to write native methods. You could either stub it to return a Long `0`, or actually return the amount of time the user has been on the webpage / doppio has been running.

[2018-01-10 00:22] amahdy opened #509 "Doppio outside CLI"
This is rather a discussion than a bug, putting my thoughts here since I couldn't find a discussion list.

Correct me if I'm wrong but right now Doppio can be used only through CLI in some kind of emulated terminal. I saw a 5 years old branch for graphics that never progressed too far.
I don't have much experience in this, but I can imagine that best way to get Graphics to work is to dump all the

[2018-01-10 00:37] amahdy opened #510 "Doppio with the browser directly"
Related to #509

Majority of Java usage right now is on the server-side, as a backend. Also having an applet-like app is -although great technical wise- not amazing from user experience point of view.

I'm trying to experiment something on this side, which is running a backend server using doppio, and use an iframe in the browser to interact with it. But I'm failing and running out of ideas. Thus

[2018-01-10 01:37] #506 closed

[2018-01-10 01:43] jvilk commented on #509
I appreciate the discussion; thanks for asking!

At the moment, Doppio does not support the GUI toolkits within the JDK (AWT/Swing and JavaFX). I worked with a student years ago to try to support AWT in the manner you describe, but it seemed [infeasible without forking the JDK](https://github.com/plasma-umass/doppio/issues/45#issuecomment-249943549).

As you state, about 5 years ago, someone exten

[2018-01-10 01:57] jvilk commented on #510
From what I understand, you are running a server on port 8080 in Doppio *in the browser*, and trying to load an iframe from `http://localhost:8080`? If that is true, then it is unfortunately impossible due to browser restrictions.

For security reasons, you actually cannot open an arbitrary port or create an arbitrary TCP connection in the browser. You can open a WebSocket connection to an outside

[2018-01-10 02:07] amahdy commented on #510
I did not manage to run jetty and make it listen to port 8080. All my attempts failed.
I was trying to find a way to fake the sockets layer so that instead of interacting with the host machine and trying to listen to a port, directly read a given iframe and dump the server output into it.

Outside Doppio and in a real jvm, if I run jetty it will ask the host machine to open port 8080 and listen to

[2018-01-10 03:05] jvilk commented on #510
I see. You'll need to hack the socket native methods to do that.

Let me know if you have any success. I tried to [fix up the outgoing TCP socket implementation further](https://github.com/plasma-umass/doppio/pull/462) in a branch, but ran into some bugs related to Websockify and was not able to proceed further. Whatever you do to "fake" sockets might be useful to refactor Doppio so it can be plug

[2018-01-18 07:50] santha6693 opened #511 "How to reset Idle timeout time in Angular 4."
Hi,

I using @ng-idle/core for Sessiontimeout. Is there any way to reset the time in angular itself.

Thanks..

[2018-02-10 06:07] haitaoli opened #513 "JVM initialization failed: Error: Assertion failed: Unknown ConstantPool tag: undefined"
I'm following the instructions in readme file to set up a simple project. But JVM filed to initialize. From network log, the last file loaded was rt.jar. All files have been downloaded successfully.

[code]

[2018-02-10 15:23] emeryberger commented on #513
Please provide your scripts, etc. so we can try to reproduce. Thanks.

[2018-02-10 17:50] haitaoli commented on #513
@emeryberger I created a simple project to show this error.

[code]

[2018-03-17 11:09] Horcrux7 opened #514 "Status of the project?"
A status page with what is working, what is in development and what will never support will be nice.

Also which performance I can expect. How many slower will a app typical on the same hardware?

My current main question is which type of GUI is supported. A console application is nice, but not what people are looking for.

[2018-03-17 20:15] jvilk commented on #514
Hello @Horcrux7,

You can find a list of what is not working in the GItHub issue tracker.

Currently, no GUI interfaces are supported. [Someone added JavaFX support to a previous version of Doppio](https://github.com/plasma-umass/doppio/issues/373), but no one has put in any effort to port it to the latest master branch. [AWT is unsupported because it's infeasible to support without forking it](ht

[2018-03-17 20:15] #514 closed

[2018-03-17 20:31] jvilk commented on #513
@haitaoli You need to use BrowserFS version 1.2. (Newer versions past 1.2 work if you install BrowserFS's spec-incompatible `setImmediate` polyfill: `window.setImmediate = BrowserFS.setImmediate`)

[2018-10-10 03:04] ExE-Boss commented on #496
**Update:** [**AssemblyScript**](https://github.com/AssemblyScript/assemblyscript) [<img align="top" alt="(on&nbsp;npm)" src="https://img.shields.io/npm/v/assemblyscript.svg"/>](https://www.npmjs.com/package/assemblyscript "The version on npm is out of date due to the W.I.P. nature of the project") plans to be a 1:1 TypeScript to WASM compiler ([see&nbsp;Status&nbsp;and&nbsp;Roadmap](https://githu

[2018-10-31 15:56] antimeme commented on #45
Is there a mailing list or something equivalent for this effort?  I'd like to help.  I have lots of experience drawing on HTML canvas elements as well as creating Java applets.  I'd like to be able to run applets on the web and I'm not afraid of mocking up java.awt.Graphics and java.applet.Applet to do it, but I'd like to coordinate with others and get help with doppio and JavaPoly, which are new

[2019-01-17 11:36] iilyak commented on #510
I am interested in something similar, but without access to the networking and wondering if it is possible. I wanted to run (and interact with) tools written in Java from browser. In particular I wanted to run [TLA+|https://github.com/tlaplus/tlaplus] in the browser.

[2019-02-11 11:55] Loccy opened #515 "Using Scanner with File hangs"
Hi all,

Having run into some issues with using Scanner to read files within the Browser.FS filesystem, I've tried the following on your demo page just to confirm it's not something in my project:

import java.util.Scanner;
import java.io.File;

public class FileTest {
  public static void main(String[] args) throws Exception {
    File f = new File("test.txt");
    Scanner fr = new Scanner(f);

[2020-09-20 21:36] TheWebX opened #518 "existsSync error on Simple DoppioJVM Example"
Here the browser stacktrace:
Uncaught TypeError: Cannot read property 'existsSync' of undefined
    at B (browserfs.rollup.js:1922)
    at e.mount (browserfs.rollup.js:8515)
    at index.html:14
    at index.html:60

[2020-09-25 15:36] mirraj2 commented on #497
fixed here:
https://github.com/mirraj2/bowser/commit/2878f4c6580530f1c3f63c5cdfa5d648f82a2f8a

[2021-09-05 10:05] stefan-reich opened #526 "JVM simply doesn't start; no error in console"
Hi, I compiled & installed DoppioJVM on my server, including a tiny helloworld.jar.

[Web page.](https://gaz.ai/beaHTML/6827)

However, JVM start-up fails quietly (callback never called), and I don't know why.

Edit: Oh, Firefox seems to be doing the job.

Edit 2: Chrome now too. Forget everything I said.

[2021-09-05 10:12] stefan-reich commented on #504
DoppioJVM doesn't support GUIs. You mean AWT/Swing, right? Yeah, that's not working.

On their demo page? Works fine for me.

PS: I know the question is literally 4 years old... so what :D

[2021-09-05 10:39] #526 closed, assigned to nobody

[2021-09-05 11:17] stefan-reich opened #527 "rt.jar is too big to be cached"
For example, Firefox by default has browser.cache.disk.max_entry_size = 51200 which means that rt.jar which for me has 62 MB will not be cached.

This is really bad. I can't force users to change their browser config.

I could break up rt.jar probably? Or make it smaller some other way?

Greetings

Edit: Ah yes, of course I can throw huge chunks of rt.jar out - all the AWT stuff, for example.

Edi

[2021-09-05 11:30] #527 closed, assigned to nobody

[2021-09-12 19:45] LucaGabi opened #528 "How to create preload of jar to speed up loading of app"
Hi

How to create preload of jar to speed up loading of app?

I tested this and it works it's good for what I need but it's loading the jar too slow can I do something to speed up the loading process ?

Thanks.

[2022-07-27 19:03] Atybot opened #536 "Network support"
https://s-macke.github.io/jor1k/demos/main.html?user=OA8d4HuICY&cpu=asm&n=1&relayURL=wss%3A%2F%2Frelay.widgetry.org%2F
http://www.benjamincburns.com/2013/11/10/jor1k-ethmac-support.html
Hack the network support out from this project and implement it into the doppio project.

[2022-07-31 19:52] Atybot opened #537 "Ain't work on phone"
https://plasma-umass.org/doppio-demo/
Chrome 103.0.5060.129
The shell ignores whatever I write to it via the touchscreen keyboard

[2022-09-21 15:25] jason-crawford-xio opened #538 "yarn install fails with incomplete JVMTypes.d.ts"
Running on Windows 10.   In Git Bash.  Node v16.15.1.

`yarn install`

eventually chokes with

[code]

Looking at `includes/JVMTypes.d.ts`, it does look incomplete:

[code]

I'm not noticing any earlier warnings+errors after the intentional `Cannot find module` warnings that would explain the file being partially built.   I don't know where the doppioh step that must be failing occurs in these log

[2022-09-23 09:14] AngeloFilaseta commented on #538
Same problem on my main machine, using the last available version in master 41f41fbae16f23d2791471e150eeb50ad1247eb8.
I'm on Manjaro:
[code]
node version is ``v18.8.0``
yarn version is ``1.22.19``

Pasting my stacktrace too:

[code]
The resulting ``includes/JVMTypes.d.ts`` is the same of OP